#box-4 {

background-color: rgba(153, 196, 187, 0.306);

height: auto;
padding: 20px;
margin-top: 55px;





}


#box-4b {

    background-color: rgba(82, 109, 96, 0.235);

    height: auto;
    padding: 29px;
    margin-top: 55px;
    
    
    
    }



    #box-4c{


        background-color: rgba(108, 126, 108, 0.235);

        height: auto;
        padding: 20px;
        margin-top: 55px;
      
        
        
        }
    

        #about-row {

display: flex;
flex-direction: row;
justify-content: center;

height:650px;


        }