#price-card-title {


color: orange;

}


.card-text {
text-align: center;
color: black;







}



.card li {


text-align: center;
padding: 20px;

}

.card-deck{
display: flex;



.card{

background-color: rgba(95, 95, 95, 0.936);

.card-body{
background-color: rgba(145, 145, 145, 0.508);
color: white;

}
}

}